body{
	display: flex;
	background-image: url('/calculadora_em_javascript/img/img-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
div{
    
	background-color: #334d4d;
	margin: 50px;
	width: 300px;
	height: 550px;
	margin: 0 auto;			
	border-radius: 20px;
	padding: 10px;
    cursor: pointer;
	box-shadow: 10px 10px 10px 10px gray;
}

header{
	background-color: white;
	width: 300px;
	height: 100px;
	
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000;
	text-align: center;

}

.tabela {
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
	
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: xx-large;
	

}

.azul{
	color: blue;
}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;
}